<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dawn.aiwriter.mapper.ArticleMapper">

    <resultMap type="com.dawn.aiwriter.entity.Article" id="articleResult">
        <result property="articleId"    column="article_id"    />
        <result property="articleBody"    column="article_body"    />
        <result property="wordNum"    column="word_num"    />
        <result property="userId"    column="user_id"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime" column="update_time"/>
        <collection  property="titles" ofType="com.dawn.aiwriter.entity.Title" resultMap="titleResult"/>
<!--        <collection property="summarys" ofType="com.dawn.aiwriter.entity.Summary" resultMap="summaryResult"/>-->
    </resultMap>

    <resultMap id="titleResult" type="com.dawn.aiwriter.entity.Title">
        <result property="titleId" column="title_id"/>
        <result property="title" column="title"/>
        <result property="status" column="status"/>
        <result property="delFlag" column="del_flag"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <resultMap id="summaryResult" type="com.dawn.aiwriter.entity.Summary">
        <result property="summaryId" column="summary_id"/>
        <result property="summary" column="summary"/>
        <result property="status" column="status"/>
        <result property="delFlag" column="del_flag"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="selectArticle">
        SELECT a.article_id,a.article_body,a.word_num,a.user_id,a.del_flag,a.create_time,a.update_time,
        t.title_id,t.title,t.status,t.del_flag,t.create_time,t.update_time
        from article a
            LEFT JOIN title t on t.article_id = a.article_id
    </sql>

    <select id="selectArticleList" resultMap="articleResult">
        <include refid="selectArticle"/>
    </select>

    <select id="selectTitleById" resultMap="articleResult">
        <include refid="selectArticle"/>
        where a.article_id = #{id}
    </select>

    <insert id="insertArticle">
        insert into article(
            title,
            summary,
            article_body,
            word_num,
            user_id,
            create_time,
            update_time
                ) VALUES(
            #{title},
            #{summary},
            #{articleBody},
            #{wordNum},
            #{userId},
            #{createTime},
            #{updateTime}
                    )
    </insert>

    <update id="updateArticle">
        update article set
            title = #{title},
            summary = #{summary},
            article_body = #{articleBody},
            word_num = #{wordNum},
            user_id = #{userId},
            create_time = #{createTime},
            update_time = #{updateTime}
        where id = #{id}
    </update>

    <delete id="deleteArticle" parameterType="Long">
        delete from article where id = #{id}
    </delete>
</mapper>
